{% extends "base.html" %}
{% block title %}
티클 | 투자 성향 분석
{% endblock %}
{% block content %}
    <div class="container page">
        <div class="contentWrapper">
            <div class="d-flex flex-column pageTitle">
                <p class="title3 bold marginBottomTiny" align="center">
                    {{user_type}}
                </p>
            </div>
            <!-- PIE CHART -->
            <div class="d-flex flex-column align-items-center doneImgContainer marginBottomSmall">
                <canvas id="myChart" style="height:25vh; width:40vw"></canvas>
            </div>
            <div class="d-flex flex-column marginBottomSmall">
                
                {% for result in results%}
                    <details>
                        <summary>
                            <div style="display: flex; justify-content: space-between; flex-direction: row; align-item: center; width: 100%">
                                <div class='v1' style="border-left: 3px solid #F3CA43; margin-right:5px; width: 5px; height: 25px"></div>
                                <div style="font-size:15px" class="flex-fill">{{result.assetType}}</div>
                                <div style="font-size:16px; font-weight:bold" class="typeWeight">{{result.weight}}</div>
                            </div>
                       
                        </summary>
                        {% for item in result["items"] %}
                            <div class='d-flex justify-content-between'>
                                <div style="color: #979797; font-size:13px; width:100px">{{item.nameKo}}({{item.ticker}})</div>
                                {% if (item.riskType == '초고위험') or (item.riskType =='고위험') %}
                                    <div style="color: #f65555; font-size:12px; text-align:center;">● {{item.riskType}}</div>
                                {% else %}
                                    <div style="color: #7390fc; font-size:12px; text-align:center;">● {{item.riskType}}</div>
                                {% endif %}
                                <div style="color: #979797; font-size:13px; text-align:right; width:80px" >{{item.targetWeight}}</div>
                            </div>
                        {% endfor %}     
                    </details>
                {% endfor %}
                
            </div>
            <div class="d-flex mt-auto">
                <button class="squareButton" id="nextButton" onclick="location.href='{{url_for('rebalance')}}' ">다음</button>
            </div>
        </div>
        
    </div>

    
    <script>
    var typeWeight = [] ;
    var colorArr = ['#F3CA43','#F79400',"#F76F00","#F85103","#FAE103","#F36DAC"]
    for (var i=0; i<document.getElementsByClassName("typeWeight").length;i++){
        var temp = document.getElementsByClassName("typeWeight")[i].textContent;
        typeWeight.push(parseFloat(temp));
        document.getElementsByClassName("typeWeight")[i].textContent=(temp*100).toFixed(2)+"%";
        document.getElementsByClassName("v1")[i].style.borderLeftColor=colorArr[i]
    }
    
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type : 'pie',
        data : {
            
            datasets: [{
                label : 'My First dataset',
                backgroundColor : [
                    '#F3CA43',
                    '#F79400',
                    '#F76F00',
                    '#F85103',
                    '#FAE103',
                    '#F36DAC'
                ],

                
                data: typeWeight
            }]
        },
        options: {
            responsive :false
        }
        
    });
    </script>
 {% endblock %}